a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: black;
  }

.grow { 
  transition: transform .5s; 
}
.grow:hover { 
  transform: scale(1.1); 
}

#blackshading {
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}